
.icon-ok:before { content: '\e800'; } /* '' */
.icon-heart:before { content: '\e801'; } /* '' */
.icon-cancel:before { content: '\e802'; } /* '' */
.icon-star:before { content: '\e803'; } /* '' */
.icon-beaker:before { content: '\e804'; } /* '' */
.icon-money:before { content: '\e805'; } /* '' */
.icon-shop:before { content: '\e806'; } /* '' */
.icon-t-shirt:before { content: '\e807'; } /* '' */
.icon-attach:before { content: '\e808'; } /* '' */
.icon-pencil:before { content: '\e809'; } /* '' */
.icon-comment:before { content: '\e80a'; } /* '' */
.icon-location:before { content: '\e80b'; } /* '' */
.icon-paper-plane:before { content: '\e80c'; } /* '' */
.icon-trash:before { content: '\e80d'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-rss:before { content: '\f09e'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-mic:before { content: '\f130'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-balance-scale:before { content: '\f24e'; } /* '' */
.icon-microchip:before { content: '\f2db'; } /* '' */
.icon-youtube:before { content: '\f315'; } /* '' */